// app global css in SCSS form

@font-face {
    font-family: fuzzyBubbles;
    src: url(./fonts/FuzzyBubbles-Regular.ttf);
  }

*{
    font-family: fuzzyBubbles;
}

.q-chip{
    margin-top: 0;
    margin-bottom: 0;

    .q-chip__content{
        margin-left: 0.5em!important;
        margin-right: 0.5em!important;
    }

    .q-chip__icon--remove{
        font-size: 1.6rem;
        // z-index: 9999999999999;
    }
}

.q-tree__node-header{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.q-tree__node-header-content{
    font-size: 1rem;
}

.actionIcons{
    margin: 0 4px;
    font-size: 1.6em;
    color: rgb(49, 49, 49);
    cursor: pointer;
}

.planning-card {
    margin: 10px!important;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.meal-hours-tittle{
    color: #0000ba;
}
.meal-hours-tittle{
    color: #0000ba;
}

.meal-chips{
    display: flex!important;
}

.meal-category-icons{
    font-size: 2rem;
}
.meal-text{
    font-size: 2.2rem;
}

.meal-remove-icons{
    font-size: 1.6rem;
    z-index: 1;
    cursor: pointer;
}

#TreeViewMeals .q-tree__node--parent{
    // box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
    margin: 10px 0;
}

#resumeMeals{
    .q-item{
        display: none;
    }

    .q-expansion-item__content{
        max-height: 200px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
